{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">quantity</th>
            <th scope="col">unit price</th>
            <th scope="col">total price</th>
            <th scope="col">remove</th>
        </tr>
        </thead>

        {% for item in cart %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.product }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.total_price }}</td>
                <td><a href="{% url 'orders:cart_remove' item.product.id %}">remove</a></td>
            </tr>
        {% endfor %}

        <te>
            <td colspan="1"></td>
            <td>Total</td>
            <td colspan="2"></td>
            <td>{{ cart.get_total_price }}</td>
        </te>

    </table>
    <a href="{% url 'orders:order_create' %}" class="btn btn-primary">checkout</a>
{% endblock %}