{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">quantity</th>
                <th scope="col">unit price</th>
                <th scope="col">total price</th>
            </tr>
        </thead>

        {% for item in cart %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ item.product }}</td>
                <td>{{ item.quantity}}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.total_price }}</td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}